@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../css/property.css';
@import '../css/svgs.css';
@import '../css/logo.css';
:root {

  --color-green-dark: #15423B;
  --color-green-dark-opec: #15423bb6;
  --color-green-light: #6A9B89;
  --color-blue: #285F98;
  --color-blue-light: #285e9887;
  --color-beigh-darkish: #CDC2A6;
  --color-beigh-light-bg: #E1D8C6;
  --color-beigh: #EAE4DC;
  --color-danger: #C7253E;
  --color-backup: #821131;
  --color-info: #CD5C08;
  --color-love: #F05A7E;
  --color-price: #303030;

  --background: var(--color-beigh-light-bg);
  --foreground: #1e1d1b;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'New York', sans-serif;
}

#price-color {
  color: var(--color-price)
}

/* Custom styles for the sliders */
.slick-slide {
    padding: 0 4px;
}

.slick-current .thumbnail-slide {
    border: 2px solid #B8860B;
    border-radius: 0.5rem;
}

/* Customize arrows */
.slick-prev,
.slick-next {
    z-index: 10;
    width: 40px;
    height: 40px;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

.slick-prev:before,
.slick-next:before {
    font-size: 40px;
    color: #B8860B;
}

/* Thumbnail slider specific styles */
.thumbnail-slider .slick-slide {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.thumbnail-slider .slick-current {
    opacity: 1;
}