@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../css/property.css';
@import '../css/svgs.css';
@import '../css/logo.css';
@import '../css/playground.css';
@import '../css/sidebar.css';
@import '../css/footer.css';

:root {
  --color-green-original: #91CEB8;
  --color-green-dark: #15423B;
  --color-green-dark-opec: #15423bb6;
  --color-green-light: #6A9B89;
  --color-blue: #285F98;
  --color-blue-light: #285e9887;
  --color-beigh-darkish: #CDC2A6;
  --color-beigh-light-bg: #E1D8C6;
  --color-beigh: #EAE4DC;
  --color-danger: #C7253E;
  --color-backup: #821131;
  --color-info: #CD5C08;
  --color-love: #F05A7E;
  --color-price: #303030;

  --background: var(--color-beigh-light-bg);
  --foreground: #1e1d1b;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Times New Roman', Times, serif;
}

main {
  padding: 12px 24px;
  margin-bottom: 24px;
}

:focus {
  outline: none;
}


/* ONE: Single photo (full container) */
.layout-one {
  width: 100%;
  height: 100%;
}

/* TWO_BY_ONE: 2 columns (wide) */
.layout-two-by-one {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

/* ONE_BY_TWO: 2 rows (tall) */
.layout-one-by-two {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}

/* TWO_BY_THREE / THREE_BY_TWO (custom grids) */
.layout-two-by-three {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
}


.photo-container {
    width: 100%;
    height: 100%;
    position: relative;
}


.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Maintain aspect ratio */
  border-radius: 4px;
}

.a4-page {
  width: 210mm;
  min-height: 297mm;
  margin: 0 auto;
  padding: 15mm; /* Print-safe area */
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  page-break-after: always; /* Ensures PDF pages break correctly */
}

/* For PDF generation (avoid browser scaling) */
@page {
  size: A4;
  margin: 0;
}

#price-color {
  color: var(--color-price)
}

::selection {
  background-color: var(--color-green-light);
}

@media (max-width: 768px) {
  main {
    margin-left: 42px;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* 1. Reset common elements and apply box-sizing for BUGCHECK*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
