@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../css/property.css';
@import '../css/svgs.css';
@import '../css/logo.css';
@import '../css/playground.css';
@import '../css/sidebar.css';
@import '../css/footer.css';

:root {

  --color-green-original: #91CEB8;
  --color-green-dark: #15423B;
  --color-green-dark-opec: #15423bb6;
  --color-green-light: #6A9B89;
  --color-blue: #285F98;
  --color-blue-light: #285e9887;
  --color-beigh-darkish: #CDC2A6;
  --color-beigh-light-bg: #E1D8C6;
  --color-beigh: #EAE4DC;
  --color-danger: #C7253E;
  --color-backup: #821131;
  --color-info: #CD5C08;
  --color-love: #F05A7E;
  --color-price: #303030;

  --background: var(--color-beigh-light-bg);
  --foreground: #1e1d1b;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Times New Roman', Times, serif;
}

main {
  padding: 12px 24px;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  main {
    margin-left: 42px;
  }
}

:focus {
  outline: none;
}

#price-color {
  color: var(--color-price)
}